import './{{pascalCase name}}.css';

function {{pascalCase name}} () {
  return (
    <div className="{{camelCase name}}-container">
      {{pascalCase name}} component
    </div>
  );
}

export default {{pascalCase name}};